.App {
  text-align: center;
}

.App-dark{
  text-align: center;
  background-color: rgb(75, 75, 75);
  color: white;
  min-height: 100vh;
}

.nupp{
  font-weight: bold;
  border-color: rgb(23, 21, 163);
}
.nupp:hover{
  background-color: blueviolet;
  cursor:pointer
}
.nupp:active{
  background-color: yellow;
}
.pilt:hover{
  opacity: 50%;
  cursor: pointer;
}
.pilt:active{
  transform: scale(90%);
}
.pilt-mitteaktiivne{
  height: 50px;
  filter: grayscale(100%);
  opacity: 0.5;
}
.pilt{
  width: 75px;
  height: 75px;
  border-radius: 5%;
}
body{
  background-color: orange;
}


.map{
  height: 350px;
  margin: 3%;
  border-radius: 10px;
}
td, th{
  border:1px solid black;
}
th{
  background-color: orange;
}
table{
  margin:auto;
}
.NotFound{
  background-color: orange;
}
.NotFound-body {
  background-color: orange !important; /* Makes the entire body background red */
}
.navbar{
  background-color: rgb(95, 95, 161);
}
.nav-link{
  color: white;
  font-weight: 500; 
}
.fourofour{
  width: 700px;
}
.frame{
  border: 5px solid;
  border-radius: 25px;
  /* padding: 5px; */
  border-color: rgb(95, 95, 161);
}
.buttoncart{
  border-radius: 5px;
  background-color: rgb(95, 95, 161) ;
  color: white;
}
.productitle{
  font-weight: 700;
}


.span{
  margin: 10px;
}
.reset-btn{
  margin-right: 5px;
  background-color: black;
}

.active{
  
}